{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="page-content-wrapper">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0eb067">
                            <th>Pedido Detalle</th>
                            <th>Asignado a</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>{{ pedido.descripcion }}</td>
                            <td>{{ pedido.operario_asignado|default:"Sin Asignar" }}</td>
                            <td>{{ pedido.estado }}</td>
                        </tr>

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/pedidos' ">
                            Volver a Pedidos
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
