{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Gestión y Asignación de Pedidos</h4>
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/pedidos/crear/' " style="text-align:center;">+ Crear Pedido
                </button>
            </div>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0eb075">
                            <th>Descripción del Pedido</th>
                            <th>Estado</th>
                            <th>Asignado a</th>
                            <th>Acción</th> 
                        </tr>
                        </thead>
                        <tbody>

                        {% for pedido in pedido_list %}
                        <tr>
                            <td>{{ pedido.descripcion }}</td>
                            <td>{{ pedido.estado }}</td>
                            <td>
                                {{ pedido.operario_asignado|default:"PENDIENTE" }}
                            </td>
                            <td class="d-flex justify-content-between">
                                <button type="button" class="btn btn-primary waves-effect waves-light"
                                        onClick=" window.location.href='/pedidos/{{ pedido.id }}/' ">
                                    Detalle
                                </button>
                                </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Volver al Inicio
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
